@media only screen and (max-width: 700px) {
	.headshot {
		margin: 0 auto 30px !important;
		text-align: center !important;
		float: none !important;
	}
	.about p {
		max-width: 100% !important;
		text-align: center !important;
	}
}

@media only screen and (max-width: 450px) {
	.about-section {
		margin-top: 0px;
	}
}
