#circles-container {
	transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#circles-container.disappear {
	margin-right: -3000px;
}

.big-circle {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 100%;
	color: #333;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 3.2rem;
	text-align: center;
	line-height: 350px;
	cursor: pointer;
	display: inline-block;
}

#blue.big-circle {
	border: solid 10px #3B5472;
	color: #3B5472;
}
#blue.big-circle:hover {
	background-color: #3B5472;
	color: #F1F0ED;
}

#orange.big-circle {
	border: solid 10px #E46420;
	color: #E46420;
}
#orange.big-circle:hover {
	background-color: #E46420;
	color: #F1F0ED;
}

#green.big-circle {
	border: solid 10px #608B81;
	color: #608B81;
}
#green.big-circle:hover {
	background-color: #608B81;
	color: #F1F0ED;
}

.big-circle.rotate {
	width: 50px;
	height: 50px;
	margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: -1px;
    cursor: pointer;
	transition: all 15s, background 0s, transform 3s ease-out;
	transform: rotate(180deg);
}

