@media only screen and (max-width: 700px) {
	#headshot {
		margin: 0 auto 30px !important;
		text-align: center !important;
		float: none !important;
	}
	#about p {
		max-width: 100% !important;
		text-align: center !important;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 60px;
	}
	.dot {
		margin-right: 3px;
	}
	.contact-type {
		margin: 10px;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 50px;
	}
	.dot {
		font-size: 80px;
		margin-right: 7px;
	}
	.contact-type {
		width: 100px;
		height: 100px;
	}
}

@media only screen and (max-width: 450px) {
	.contact-type {
		width: 80px;
		height: 80px;
		margin: 5px;
	}
	.about-section {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 4rem !important;
	}
	.dot {
		padding-left: 8px;
	}
	.dot:nth-child(1), .dot:nth-child(2) {
		display: none;
	}
	.circle {
		border-width: 5px !important;
		font-size: 20px !important;
	}
}