.work-samples {
	max-width: 1000px;
    margin: 0 auto 30px;
    text-align: center;
    display: none;
}

.work-sample {
	display: inline-block;
	margin: 0 auto;
	margin: 24px 11px 0 11px;
}

.work-sample:hover {
	box-shadow: 0px 0px 10px #3B5472;
}

.work-sample img {
	width: 300px;
	height: 200px;
	position: relative;
	z-index: 1;
}

.work-sample-cover {
	width: 300px;
	height: 187px;
	position: relative;
	margin: -205px 0 0 0;
	padding: 15px 0 0 0;
	background: rgba(0,0,0,0.8);
	z-index: 2;
	transition: opacity .3s;
}

.work-sample-cover:hover {
	opacity: 0;
}

.work-sample-cover-text {
	width: 170px;
    height: 170px;
    margin: 0 auto;
    margin-top: -3px;
    border: solid 5px #DCDCDC;
    border-radius: 100%;
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    display: table;
}
.work-sample-cover-text p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    padding: 0 20px 0 20px;
}